*{
    margin: 0;
    padding: 0;
}
.tableContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    color:white;
}

.columnsDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.row{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    transition: 0.3s all ease-in-out;
}

.cell{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* border:1px solid gray; */
}
.cell b{
    background-color: transparent;
}
#bid{
    background-color: rgb(142, 210, 142);
}
#bid .row {
    border-top:1px solid rgb(142, 210, 142);
    border-bottom:1px solid rgb(142, 210, 142);
}

#ask{
    background-color: rgb(219, 131, 131);

}

#ask .row {
    border-top:1px solid rgb(219, 131, 131);
    border-bottom:1px solid rgb(219, 131, 131);
}

.row:hover{
    background-color: rgba(200, 192, 192, 0.132);
    cursor: pointer;
}